/* Filter buttons styles */
.filter-buttons {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  margin-bottom: 20px;
}

.filter-buttons button {
  padding: 8px 16px;
  margin: 0 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filter-buttons button.active {
  background-color: #0056b3;
}

/* Results container styles */
.results {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center; /* Center the results vertically */
  align-items: center; /* Center the results horizontally */
}

/* User styles */
.user-post-search-result {
  padding: 20px;
  width: 300px;
  border: 1px solid white;
  margin: 0 auto; /* Center the box horizontally */
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center user content */
}

.user-post-header-search-result {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-profile-pic-search-result {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-post-details-search-result {
  flex: 1;
}

.user-post-username-search-result {
  font-size: 1.2rem;
  color: #333;
  text-decoration: none;
}

.user-unique-id-search-result {
  color: #777;
}

.user-bio-search-result {
  color: #555;
  margin-bottom: 10px;
}

.profile-link-button-search-result {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

/* Shop styles */
.shop-container-search-result {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Center the box horizontally */
  text-align: center; /* Center shop content */
}

.shop-header-search-result {
  display: flex;
  align-items: center;
}

.shop-logo-search-result {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
}

.shop-name-link-search-result {
  font-size: 1.2rem;
  color: #333;
  text-decoration: none;
}

/* Product styles */
.products-card-search-result {
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  border: 2px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Center the box horizontally */
  text-align: center; /* Center product content */
}

.product-img-search-result img {
  max-width: 220px;
  height: auto;
  border-radius: 5px;
}

.product-title-search-result {
  margin-top: 10px;
}

.product-title-search-result h2 {
  font-size: 1.2rem;
  color: #333;
}

.product-title-search-result p {
  color: #777;
}

/* Styles for header search */
.header-search {
  padding: 10px;
  text-align: center; /* Center the content */
}

.header-search header {
  display: flex;
  justify-content: center; /* Center the header content horizontally */
  align-items: center;
}

.header-search header button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.header-search header button:hover {
  background-color: #0056b3;
}

/* Styles for search container */
.search-container {
  margin-top: 20px;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center the items horizontally */
}

.search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 80%;
}

.search-button {
  background-color: #007bff;
  color: #fff;
  margin-bottom: 5px;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px; /* Add some space between input and button */
}

.search-button:hover {
  background-color: #0056b3;
}