/* Filter buttons styles */
.filter-buttons {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  margin-bottom: 20px;
}

.filter-buttons button {
  padding: 8px 16px;
  margin: 0 5px;
  background-color: transparent; /* Changed background color */
  color: #fff;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.filter-buttons button.active {
  background-color: white; /* Darker active background color */
  color: black;
  text-decoration: none;
}

/* Results container styles */
.results {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center; /* Center the results vertically */
  align-items: center; /* Center the results horizontally */
}

/* User styles */
.user-post-search-result {
  padding: 20px;
  width: 300px;
  border: 1px solid #333; /* Darker border */
  margin: 0 auto; /* Center the box horizontally */
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1); /* Invert box shadow */
  text-align: center; /* Center user content */
}

.user-profile-pic-search-result {
  width: 120px;
  border-radius: 50%;
}

.user-post-username-search-result {
  font-size: 1.2rem;
  color: #fff; /* White username color */
  text-decoration: none;
}

.user-unique-id-search-result {
  color: #bbb; /* Lighter unique ID color */
}

.user-bio-search-result {
  color: #ddd; /* Lighter bio color */
  margin-bottom: 10px;
}

.profile-link-button-search-result {
  background-color: #14213d; /* Changed background color */
  color: #fff;
  padding: 8px 16px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

/* Shop styles */
.shop-container-search-result {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1); /* Invert box shadow */
  margin: 0 auto; /* Center the box horizontally */
  text-align: center; /* Center shop content */
}
.shop-logo-search-result {
  width: 200px;
}
.shop-name-link-search-result {
  font-size: 1.2rem;
  color: #fff; /* White shop name color */
  text-decoration: none;
}

/* Product styles */
.products-card-search-result {
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  border: 2px solid #333; /* Darker border */
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1); /* Invert box shadow */
  margin: 0 auto; /* Center the box horizontally */
  margin-bottom: 10px;
  text-align: center; /* Center product content */
}
.product-img-search-result img {
  width: 250px;
}

.product-title-search-result h2 {
  font-size: 1.2rem;
  color: #fff; /* White title color */
}

.product-title-search-result p {
  color: #bbb; /* Lighter text color */
}

.header-search {
  padding: 10px;
  text-align: center; /* Center the content */
  color: #fff; /* White text color */
}

.header-search header {
  display: flex;
  align-items: center;
}

.header-left {
  margin-right: auto; /* Pushes the content to the extreme left */
}

.header-left button {
  background-color: white;
  border-radius: 15px;
  border: 1px solid white;
  cursor: pointer;
  color: black;
  padding: 10px 20px;
}

.header-right {
  margin-left: auto; /* Pushes the content to the extreme right */
}

.header-left button,
.header-right img {
  margin: 0; /* Remove default margin */
}

.header-right img {
  width: 50px;
  border-radius: 50%;
}

/* Styles for search container */
.search-container {
  margin-top: 20px;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center the items horizontally */
}

.search-input {
  padding: 12px;
  border: 1px solid white; /* Darker border */
  border-radius: 4px;
  margin-bottom: 10px;
  width: 80%;
  background-color: white; /* Darker background */
  color: black; /* White text color */
}

.search-button {
  background-color: white; /* Changed background color */
  color: black;
  margin-bottom: 11px;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px; /* Add some space between input and button */
}

.search-button:hover {
  background-color: black; /* Darker hover color */
  border: 1px solid #333;
  color: white;
  transition: 0.3s;
}

@media (min-width: 750px) {
  .header-left {
    margin-left: 70px;
  }
  .header-right {
    margin-right: 70px;
  }
} 