@media (min-width: 312px) and (max-width: 480px) {
  .imgdropmentlgog img {
    width: 60px;
  }
  .headerinlineele {
    display: inline-flex;
  }
  .headerinlineele button {
    margin-top: 8px;
    background-color: transparent;
    border: transparent;
    font-size: medium;
  }
  .headerinlineele button:hover {
    text-decoration: underline rebeccapurple;
    transition: 0.5s;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .imgdropmentlgog img {
    width: 60px;
  }
  .headerinlineele {
    display: inline-flex;
  }
  .headerinlineele button {
    margin-top: 8px;
    background-color: transparent;
    border: transparent;
    font-size: medium;
  }
  .headerinlineele button:hover {
    text-decoration: underline rebeccapurple;
    transition: 0.5s;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .imgdropmentlgog img {
    width: 100px;
  }
  .headerinlineele {
    display: inline-flex;
  }
  .headerinlineele button {
    margin-top: 40px;
    background-color: transparent;
    border: transparent;
    font-size: medium;
    margin-left: 30px;
  }
  .headerinlineele button:hover {
    text-decoration: underline rebeccapurple;
    transition: 0.5s;
  }
}
@media (min-width: 1025px) {
  .imgdropmentlgog img {
    width: 130px;
  }
  .headerinlineele {
    display: inline-flex;
  }
  .headerinlineele button {
    margin-top: 50px;
    background-color: transparent;
    border: transparent;
    margin-left: 50px;
    font-size: medium;
  }
  .headerinlineele button:hover {
    text-decoration: underline rebeccapurple;
    transition: 0.5s;
  }
}

