.profile-edit-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.header-edit-my-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-edit-my-profile h2 {
  font-size: 24px;
  margin: 0;
}

.back-button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #3897f0;
  color: #fff;
  cursor: pointer;
}

.back-button:hover {
  background-color: #2684e3;
}

.success-message {
  margin: 10px 0;
  color: green;
}

.form-container {
  margin-bottom: 20px;
}

.form-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-container input[type='text'],
.form-container textarea {
  width: calc(100% - 16px);
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container textarea {
  height: 100px;
}

.update-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #3897f0;
  color: #fff;
  cursor: pointer;
}

.update-button:hover {
  background-color: #2684e3;
}
.remove-button {
  background-color: #d62828;
  color: white;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.remove-button:hover {
  background-color: #ff6e6e;
  transition: 0.3s;
}

