.profile-edit-container {
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto;
}

/* Header section */
.header-edit-my-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-edit-my-profile h2 {
  font-size: 24px;
  margin: 0;
}
.add-profile-pic-area {
  margin: 20px auto;
}
.back-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

/* Form container */
.form-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: 100;
  color: white;
}

.form-container input[type="text"],
.form-container input[type="file"],
.form-container textarea {
  width: calc(100% - 24px); /* Adjusted width to accommodate padding */
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-container textarea {
  height: 100px; /* Adjust height for textarea */
  background-color: #333;
}

.form-container button[type="submit"],
.form-container .remove-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.form-container input {
  background-color: #333;
  border: 1px solid white;
}

.ImagesEditsectionElement {
  margin-bottom: 20px;
}

/* Success message */
.success-message {
  color: green;
  margin-top: 10px;
}

.form-container {
  background-color: black;
  text-align: center;
}
.remove-button-rm {
  padding: 8px 13px;
  color: white;
  background-color: #d90429;
  border: 1px solid #d90429;
  cursor: pointer;
  border-radius: 9px;
}