
.profile-container {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.edit-button,
.add-shop-button {
  padding: 8px 16px;
  margin-left: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.main-section {
  display: flex;
  flex-direction: column;
}

.profile-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-details {
  margin-left: 20px;
  text-align: center;
}

.profile-details h2 {
  margin: 5px 0;
  font-size: 24px;
}

.profile-details p {
  margin: 5px 0;
  font-size: 16px;
  color: black;
  width: 350px;

}

.shops {
  margin-top: 20px;
}

.shop-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.shop-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.shop-item h4 {
  margin: 0;
  font-size: 18px;
}