@media (min-width: 312px) and (max-width: 480px) {
  .maindivefordropmentmainpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
  }
  .left-content   {
    display: none;
  }
  .right-content {
    display: none;
  }
  
  .dropmentmainheader {
    width: 100%;
    background-color: #000000;
    box-shadow: 0 1px 1px rgb(255, 255, 255);
    z-index: 1;
    color: black;
    padding: 10px 0; /* Adjust padding as needed */
    border-radius: 15px;
  }
  .add-shop-btn-home-header {
    background-color: transparent;
    color: #06d6a0;
    border: 1px solid #333;
    padding: 8px 12px;
    border-radius: 9px;
  }
  
  .dropmentlogomainpage {
    margin-right: 0px;
  }
  
  .dropmentlogomainpage img {
    max-height: 50px; /* Adjust as needed */
    display: none;
  }
  
  .dropmentmainbtns {
    display: flex;
    flex-wrap: wrap; /* Allow button wrapping */
    justify-content: center;
    align-items: center;
  }
  
  .dropmentmainbtns button {
    margin: 5px; /* Add some spacing between buttons */
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: medium;
    color: rgb(253, 253, 253);
  }
  
  .section1inmainpage {
    display: flex;
    flex-direction: column; /* Stack items vertically on small screens */
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
  }
  
  .content-container {
    display: flex;
    flex-direction: column; /* Stack items vertically on small screens */
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Adjust as needed */
  }
  
  .middle-content {
    flex: 1;
    width: 100%; /* Occupy full width on small screens */
    max-width: none; /* Reset max-width for full width */
    margin: 0; /* Remove margin on small screens */
  }
  
  .recomprofilemainpagetxtp,
  .recomprofilemainpagetxt {
    text-align: center;
    margin: 0 10px; /* Add some margin to improve readability on small screens */
  }
  .blinkfeed-btn-main-pg button {
    background-color: transparent;
    color: white;
    border: 2px solid #333;
    border-radius: 25px;
    padding: 10px 20px;
    margin-top: 10px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    cursor: pointer;
  }
  .blinkfeed-btn-main-pg button:hover {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #000000;
    transition: 0.3s;
  }
  
  }
  
  @media (min-width: 481px) and (max-width: 768px) {
    .blinkfeed-btn-main-pg button {
      background-color: transparent;
      color: white;
      border: 2px solid #333;
      border-radius: 25px;
      padding: 10px 20px;
      margin-top: 10px;
      transition: background-color 0.3s, color 0.3s, border-color 0.3s;
      cursor: pointer;
    }
    .left-content   {
      display: none;
    }
    .right-content {
      display: none;
    }
    .blinkfeed-btn-main-pg button:hover {
      background-color: transparent;
      color: #ffffff;
      border: 2px solid #ffffff;
      transition: 0.3s;
    }
    .add-shop-btn-main-page-dropment button {
      color: white;
      background-color: #16895A;
      border: 2px solid #16895A;
      border-radius: 9px;
      padding: 10px 20px;
      margin-left: 100px;
      align-items: center;
    }
    .maindivefordropmentmainpage {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .dropmentmainheader {
      width: 100%;
      background-color: #000000;
      box-shadow: 0 1px 1px rgb(255, 255, 255);
      z-index: 1;
      color: black;
      padding: 10px 0; /* Adjust padding as needed */
      border-radius: 15px;
    }
    .dropmentlogomainpage {
      margin-right: 0px;
    }
    
    .dropmentlogomainpage img {
      max-height: 80px; /* Adjust as needed */
    }
    
    .dropmentmainbtns {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .dropmentmainbtns button {
      margin-left: 10px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: medium;
      color: rgb(255, 255, 255);
    }
    
    .section1inmainpage {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      padding: 20px;
    }
    
    .content-container {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      max-width: 1200px; /* Adjust as needed */
    }
    
    .left-content {
      flex: 1;
      max-width: 300px; /* Adjust as needed */
      margin-right: 20px;
    }
    
    .middle-content {
      flex: 3;
    }
    
    .right-content {
      flex: 1;
      max-width: 300px; /* Adjust as needed */
      margin-left: 20px;
    }
    
    .recomprofilemainpagetxtp,
    .recomprofilemainpagetxt {
      color: grey;
      text-align: center;
    }
    
    /* Media Query for tablets */
      .dropmentmainbtns button {
        margin-left: 5px; /* Adjust button spacing for tablets */
      }
    
      .left-content,
      .right-content {
        max-width: 100%; /* Occupy full width on tablets */
        margin: 0; /* Remove margin on tablets */
  }
  .add-shop-btn-home-header {
    background-color: transparent;
    color: #06d6a0;
    border: 1px solid #333;
    padding: 10px 20px;
    border-radius: 9px;
  }
  
  }
  @media (min-width: 769px) and (max-width: 1024px) {
    .maindivefordropmentmainpage {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: black;
    }
    
    /* Header styles */
    .dropmentmainheader {
      width: 100%;
      background-color: #000000;
      box-shadow: 0 1px 1px rgb(255, 255, 255);
      z-index: 1;
      color: black;
      padding: 10px 0; /* Adjust padding as needed */
      border-radius: 15px;
    }
    
    /* Logo styles */
    .dropmentlogomainpage img {
      max-height: 60px; /* Adjust as needed */
    }
    
    /* Button container styles */
    .dropmentmainbtns {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px; /* Adjust margin as needed */
    }
    
    /* Buttons styles */
    .dropmentmainbtns button {
      margin: 0 8px; /* Adjust margin as needed */
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: medium;
      color: rgb(255, 255, 255);
    }
    
    /* Style for specific element */
    .createstorebtnmainpg {
      /* Style for ChatMessageapp */
    }
    
    /* Section 1 styles */
    .section1inmainpage {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      padding: 20px 0; /* Adjust padding as needed */
    }
    
    /* Content container styles */
    .content-container {
      display: flex;
      justify-content: space-around; /* Adjust as needed */
      align-items: flex-start;
      width: 100%;
      max-width: 1200px;
    }
    
    /* Content columns */
    .left-content,
    .right-content {
      flex: 1;
      max-width: 300px; /* Adjust as needed */
      margin: 0 10px; /* Adjust margin as needed */
    }
    
    .middle-content {
      flex: 3;
    }
    
    /* Recommended profile text */
    .recomprofilemainpagetxtp {
      color: grey;
      text-align: center;
    }
    
    /* Button styles for main page */
    .blinkfeed-btn-main-pg button {
      background-color: transparent;
      color: white;
      border: 2px solid #333;
      border-radius: 25px;
      padding: 10px 20px;
      margin-top: 10px;
      transition: background-color 0.3s, color 0.3s, border-color 0.3s;
      cursor: pointer;
    }
    
    /* Button hover effect */
    .blinkfeed-btn-main-pg button:hover {
      background-color: transparent;
      color: #6184D8;
    }
    
    /* Add shop button on main page */
    .add-shop-btn-main-page-dropment button {
      color: white;
      background-color: #3a0299;
      border: 2px solid #3a0299;
      border-radius: 9px;
      padding: 10px 20px;
    }
    
    /* Mobile button display in header */
    .mboile-btn-display-home-headre {
      display: none;
    }
    .add-shop-btn-home-header {
      background-color: transparent;
      color: #06d6a0;
      border: 1px solid #333;
      padding: 10px 20px;
      border-radius: 9px;
    }
    
  }
  
  @media (min-width: 1025px) {
    .maindivefordropmentmainpage {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: black;
    }
    
    /* Header styles */
    .dropmentmainheader {
      width: 100%;
      background-color: #000000;
      box-shadow: 0 1px 1px rgb(255, 255, 255);
      z-index: 1;
      color: black;
      padding: 10px 0; /* Adjust padding as needed */
      border-radius: 15px;
    }
    
    /* Logo styles */
    .dropmentlogomainpage img {
      max-height: 60px; /* Adjust as needed */
    }
    
    /* Button container styles */
    .dropmentmainbtns {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px; /* Adjust margin as needed */
    }
    
    /* Buttons styles */
    .dropmentmainbtns button {
      margin: 0 8px; /* Adjust margin as needed */
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: medium;
      color: rgb(255, 255, 255);
    }
    
    /* Style for specific element */
    .createstorebtnmainpg {
      /* Style for ChatMessageapp */
    }
    
    /* Section 1 styles */
    .section1inmainpage {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      padding: 20px 0; /* Adjust padding as needed */
    }
    
    /* Content container styles */
    .content-container {
      display: flex;
      justify-content: space-around; /* Adjust as needed */
      align-items: flex-start;
      width: 100%;
      max-width: 1200px;
    }
    
    /* Content columns */
    .left-content,
    .right-content {
      flex: 1;
      max-width: 300px; /* Adjust as needed */
      margin: 0 10px; /* Adjust margin as needed */
    }
    
    .middle-content {
      flex: 3;
    }
    
    /* Recommended profile text */
    .recomprofilemainpagetxtp {
      color: grey;
      text-align: center;
    }
    
    /* Button styles for main page */
    .blinkfeed-btn-main-pg button {
      background-color: transparent;
      color: white;
      border: 2px solid #333;
      border-radius: 25px;
      padding: 10px 20px;
      margin-top: 10px;
      transition: background-color 0.3s, color 0.3s, border-color 0.3s;
      cursor: pointer;
    }
    
    /* Button hover effect */
    .blinkfeed-btn-main-pg button:hover {
      background-color: transparent;
      color: #ffffff;
    }
    
    /* Add shop button on main page */
    .add-shop-btn-main-page-dropment button {
      color: white;
      background-color: #3a0299;
      border: 2px solid #3a0299;
      border-radius: 9px;
      padding: 10px 20px;
    }
    
    /* Mobile button display in header */
    .mboile-btn-display-home-headre {
      display: none;
    }
    .add-shop-btn-home-header {
      background-color: transparent;
      color: #06d6a0;
      padding: 10px 25px;
      border: 1px solid #333;
      border-radius: 9px;
    }
    
  }
body {
  background-color: black;
}
p{
  color: white;
}
h1 {
  color: white;
}
h4 {
  color: white;
}
h3 {
  color: white;
}
 h2 {
  color: white;
}