/* Sidebar.css */
.sidebar {
  height: 100vh; /* Full viewport height */
  width: 140px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 1px solid white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.logout-btn-mainpage {
  background-color: transparent;
  color: red;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.login-btn-mainpage {
  background-color: transparent;
  color: green;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.sidebar img {
  width: 50px;
  margin-bottom: 50px;
}

.sidebar p {
  padding: 10px;
  margin: 0;
  width: 100%;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-top: 10px;
}

.sidebar p:hover {
  background-color: #333;
}
.notification-popup {
  position: fixed;
  top: 0;
  right: -300px; /* Initially hide notification off-screen */
  width: 300px;
  height: 100vh;
  transition: right 0.3s ease-in-out; /* Apply transition effect */
}

.notification-popup.show {
  right: 0; /* Slide the notification to the visible position */
}
body {
  background-color: black;
}
p{
  color: white;
}
h1 {
  color: white;
}
h4 {
  color: white;
}
h3 {
  color: white;
}
 h2 {
  color: white;
}
