@media (min-width: 312px) and (max-width: 480px) {
    .dropment-branding-main-page img {
        width: 40px;
       }
       .header-dropment-main-page {
        background-image: url('./images/Dropment\ \(1\).png');
        background-size: cover;
        background-position: center;
        height: 70vh;
        background-color: rgba(0, 0, 0, 0.8);
        background-blend-mode: multiply;
       }
       .header-dropment-main-page {
        padding: 10px;
       }
       .nav-bar-dropment-main-page {
        display: inline-flex;
       }
       .nav-bar-dropment-main-page button {
        margin-left: 10px;
        cursor: pointer;
       }
       .strtffreebtn {
        background-color: white;
        color: black;
        border-radius: 25px;
        padding: 8px 12px;
        cursor: pointer;
        border: 2px solid white;
       }
       .signinbtn-dropment-main-page {
        display: none;
       }
       .login-btn-dropment-main-page {
        color: white;
        background-color: transparent;
        border: none;
       }
       .aboutus-btn-main-page-dropment {
        display: none;
       }
       .pricing-btn-main-page-dropment {
       display: none;
       }
       .nav-bar-dropment-main-page {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      .dropment-buttons-right {
        display: flex;
        align-items: center;
      }
      .hero-section-text-dropment-main-1 h1 {
        color: white;
        margin-top: 80px;
        margin-left: 10px;
      }
      .hero-section-get-started-button-main-page-dropment button {
        color: white;
        background-color: transparent;
        margin-left: 10px;
        margin-top: 10px;
        border: 2px solid white;
        border-radius: 25px;
        padding: 15px 12px;
        font-weight: 600;
      }
      .hero-section-get-started-button-main-page-dropment button:hover {
        background-color: white;
        color: black;
        transition: 0.4s;
        cursor: pointer;
      }
      .dropment-main-blog-page-section1 {
        text-align: center;
    }
    .dropment-main-blog-page-section1 h1 {
        font-size: 40px;
        margin-top: 50px;
    }
    .dropment-main-blog-page-section2 {
        margin-top: 100px;
        text-align: center;
    }
    
    .dropment-main-blog-page-section2 > * {
        display: inline-block;
        /* Additional styles for child elements if needed */
    }
    
    .dropment-main-blog-page-section2-section1 {
        border-top: 4px solid;
        border-image: linear-gradient(to right, #0077b3, #8cffba);
        border-image-slice: 1;
        width: 250px;
        text-align: center;
        margin-bottom: 40px;
    }
    .dropment-main-blog-page-section2-section2 {
        border-top: 4px solid;
        border-image: linear-gradient(to right, #0077b3, #8cffba);
        border-image-slice: 1;
        width: 250px;
        text-align: center;
        margin-bottom: 40px;
    }
    .dropment-main-blog-page-section2-section3 {
        border-top: 4px solid;
        border-image: linear-gradient(to right, #0077b3, #8cffba);
        border-image-slice: 1;
        width: 250px;
        text-align: center;
        margin-bottom: 40px;
    }

    .dropment-main-blog-page-section2-section4 {
        border-top: 4px solid;
        border-image: linear-gradient(to right, #0077b3, #8cffba);
        border-image-slice: 1;
        width: 250px;
        text-align: center;
        margin-bottom: 40px;
    }
    .dropment-main-blog-page-section2 h3 {
        font-size: 25px;
        font-weight: 300;
    }
    .dropment-main-blog-page-section2 p {
        font-size: 17px;
    }
    .dropment-main-blog-page-section3 {
        margin-top: 150px;
        background-color: #E7FFF1;
        padding: 20px;
        border-radius: 25px;
        margin:100px 40px;
    }
    .dropment-main-blog-page-section3-img {
        background-image: url('./images/Untitled design (18) (1).png');
        height: 50vh;
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .dropment-main-blog-page-section3-txt {
        text-align: center;
    }
    .dropment-main-blog-page-section3-txt h2 {
        color: #242E47;
        font-size: 30px;
    }
    .dropment-main-blog-page-section3-txt h4 {
        color: #7B88A8;
        font-size: 12px;
        font-weight: 600;
    }
    .dropment-main-blog-page-section4 {
        padding: 20px;
        background-color: #F9FAFB;
        background-size: cover;
        background-position: center;
        border-radius: 25px;
        margin: 100px 6px;
    }
    
    .dropment-main-blog-page-section4-img {
        margin-right: 20px; /* Add space between image and text */
    }
    
    .dropment-main-blog-page-section4-img img {
        width: 300px; /* Ensure the image doesn't exceed its container */
        border-radius: 25px;
    }
    
    .dropment-main-blog-page-section4-txt {
        text-align: center;
        width: 300px;
        margin-top: 50px;
    }
    
    .dropment-main-blog-page-section4-txt h2 {
        color: #242E47;
        font-size: 30px;
        margin-bottom: 10px; /* Add space between heading and paragraph */
    }
    
    .dropment-main-blog-page-section4-txt p {
        color: #7B88A8;
        font-size: 16px;
        margin-top: 30px;
    }
    .dropment-main-blog-page-section4-txt button {
        font-size: 15px;
        color: white;
        background-color: #661AC6;
        padding: 12px 13px;
        border: 1px solid #661AC6;
        margin-bottom: 50px;margin-top: 10px;
        border-radius: 15px;
        cursor: pointer;
    }
    .dropment-main-blog-page-section4-txt button:hover {
        background-color: transparent;
        color: black;
        border-radius: 15px;
        transition: 0.3s;
        border: 1px solid #661AC6;
    }
}
    
  @media (min-width: 481px) and (max-width: 768px) {
    .dropment-branding-main-page img {
        width: 40px;
       }
       .header-dropment-main-page {
        background-image: url('./images/Dropment\ \(1\).png');
        background-size: cover;
        background-position: center;
        height: 70vh;
        background-color: rgba(0, 0, 0, 0.8);
        background-blend-mode: multiply;
       }
       .header-dropment-main-page {
        padding: 10px;
       }
       .nav-bar-dropment-main-page {
        display: inline-flex;
       }
       .nav-bar-dropment-main-page button {
        margin-left: 10px;
        cursor: pointer;
       }
       .strtffreebtn {
        background-color: white;
        color: black;
        border-radius: 25px;
        padding: 8px 12px;
        cursor: pointer;
        border: 2px solid white;
       }
       .signinbtn-dropment-main-page {
        display: none;
       }
       .login-btn-dropment-main-page {
        color: white;
        background-color: transparent;
        border: none;
       }
       .aboutus-btn-main-page-dropment {
        color: white;
        background-color: transparent;
        border: none;
       }
       .pricing-btn-main-page-dropment {
        color: white;
        background-color: transparent;
        border: none;
       }
       .nav-bar-dropment-main-page {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      .dropment-buttons-right {
        display: flex;
        align-items: center;
      }
      .hero-section-text-dropment-main-1 h1 {
        color: white;
        margin-top: 40px;
        margin-left: 10px;
      }
      .hero-section-get-started-button-main-page-dropment button {
        color: white;
        background-color: transparent;
        margin-left: 10px;
        margin-top: 10px;
        border: 2px solid white;
        border-radius: 25px;
        padding: 15px 12px;
        font-weight: 600;
      }
      .hero-section-get-started-button-main-page-dropment button:hover {
        background-color: white;
        color: black;
        transition: 0.4s;
        cursor: pointer;
      }
      .dropment-main-blog-page-section1 {
        text-align: center;
    }
    .dropment-main-blog-page-section1 h1 {
        font-size: 40px;
        margin-top: 80px;
    }
    .dropment-main-blog-page-section2 {
        margin-top: 100px;
        text-align: center;
    }
    
    .dropment-main-blog-page-section2 > * {
        display: inline-block;
        /* Additional styles for child elements if needed */
    }
    
    .dropment-main-blog-page-section2-section1 {
        border-top: 4px solid;
        border-image: linear-gradient(to right, #0077b3, #8cffba);
        border-image-slice: 1;
        width: 400px;
        text-align: center;
        margin-bottom: 40px;
    }
    .dropment-main-blog-page-section2-section2 {
        border-top: 4px solid;
        border-image: linear-gradient(to right, #0077b3, #8cffba);
        border-image-slice: 1;
        width: 400px;
        text-align: center;
        margin-bottom: 40px;
    }
    .dropment-main-blog-page-section2-section3 {
        border-top: 4px solid;
        border-image: linear-gradient(to right, #0077b3, #8cffba);
        border-image-slice: 1;
        width: 400px;
        text-align: center;
        margin-bottom: 40px;
    }

    .dropment-main-blog-page-section2-section4 {
        border-top: 4px solid;
        border-image: linear-gradient(to right, #0077b3, #8cffba);
        border-image-slice: 1;
        width: 400px;
        text-align: center;
        margin-bottom: 40px;
    }
    .dropment-main-blog-page-section2 h3 {
        font-size: 25px;
        font-weight: 300;
    }
    .dropment-main-blog-page-section2 p {
        font-size: 17px;
    }
    .dropment-main-blog-page-section3 {
        margin-top: 150px;
        background-color: #E7FFF1;
        padding: 20px;
        border-radius: 25px;
        margin:150px 40px;
    }
    .dropment-main-blog-page-section3-img {
        background-image: url('./images/Untitled design (18) (1).png');
        height: 50vh;
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
    .dropment-main-blog-page-section3-txt {
        text-align: center;
    }
    .dropment-main-blog-page-section3-txt h2 {
        color: #242E47;
        font-size: 30px;
    }
    .dropment-main-blog-page-section3-txt h4 {
        color: #7B88A8;
        font-size: 15px;
        font-weight: 600;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    .dropment-branding-main-page img {
        width: 40px;
       }
       .header-dropment-main-page {
        background-image: url('./images/Dropment\ \(1\).png');
        background-size: cover;
        background-position: center;
        height: 90vh;
        background-color: rgba(0, 0, 0, 0.8);
        background-blend-mode: multiply;
       }
       .header-dropment-main-page {
        padding: 10px;
       }
       .nav-bar-dropment-main-page {
        display: inline-flex;
       }
       .nav-bar-dropment-main-page button {
        margin-left: 10px;
        cursor: pointer;
       }
       .strtffreebtn {
        background-color: white;
        color: black;
        border-radius: 25px;
        padding: 13px 16px;
        cursor: pointer;
        border: 2px solid white;
       }
       .signinbtn-dropment-main-page {
        display: none;
       }
       .login-btn-dropment-main-page {
        color: white;
        background-color: transparent;
        border: none;
       }
       .aboutus-btn-main-page-dropment {
        color: white;
        background-color: transparent;
        border: none;
       }
       .pricing-btn-main-page-dropment {
        color: white;
        background-color: transparent;
        border: none;
       }
       .nav-bar-dropment-main-page {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      .dropment-buttons-right {
        display: flex;
        align-items: center;
      }
      .hero-section-text-dropment-main-1 h1 {
        color: white;
        margin-top: 80px;
        margin-left: 10px;
        font-size: 40px;
      }
      .hero-section-get-started-button-main-page-dropment button {
        color: white;
        background-color: transparent;
        margin-left: 10px;
        margin-top: 10px;
        border: 2px solid white;
        border-radius: 25px;
        padding: 15px 20px;
        font-weight: 600;
      }
      .hero-section-get-started-button-main-page-dropment button:hover {
        background-color: white;
        color: black;
        transition: 0.4s;
        cursor: pointer;
      }
      .dropment-main-blog-page-section1 {
        text-align: center;
    }
    .dropment-main-blog-page-section1 h1 {
        font-size: 50px;
        margin-top: 80px;
    }
    .dropment-main-blog-page-section2 {
        margin-top: 100px;
        display: flex;
        justify-content: center; /* Start from the left */
        overflow-x: auto; /* Allow horizontal scrolling */
        padding-bottom: 20px; /* Add some bottom padding to accommodate scrollbar */
        width: calc(100% - 100px); /* Adjust the width to accommodate margins and prevent horizontal scrolling of the entire page */
    }
    
    .dropment-main-blog-page-section2-section1 {
        border-top: 4px solid;
        border-image: linear-gradient(to right, #0077b3, #8cffba);
        border-image-slice: 1;
        width: 200px;
        margin-left: 50px;
        text-align: center;
    }
    .dropment-main-blog-page-section2-section1:hover {
        transition: 0.3s;
        margin-top: 20px;
    }
    .dropment-main-blog-page-section2-section2 {
        border-top: 4px solid;
        border-image: linear-gradient(to right, #0077b3, #8cffba);
        border-image-slice: 1;
        width: 200px;
        margin-left: 50px;
        text-align: center;
    }
    .dropment-main-blog-page-section2-section2:hover {
        transition: 0.3s;
        margin-top: 20px;
    }
    .dropment-main-blog-page-section2-section3 {
        border-top: 4px solid;
        border-image: linear-gradient(to right, #0077b3, #8cffba);
        border-image-slice: 1;
        width: 200px;
        margin-left: 50px;
        text-align: center;
    }
    .dropment-main-blog-page-section2-section3:hover {
        transition: 0.3s;
        margin-top: 20px;
    }
    .dropment-main-blog-page-section2-section4 {
        border-top: 4px solid;
        border-image: linear-gradient(to right, #0077b3, #8cffba);
        border-image-slice: 1;
        width: 200px;
        margin-left: 50px;
        text-align: center;
    }
    .dropment-main-blog-page-section2-section4:hover {
        transition: 0.3s;
        margin-top: 20px;
    }
    .dropment-main-blog-page-section2 h3 {
        font-size: 25px;
        font-weight: 300;
    }
    .dropment-main-blog-page-section2 p {
        font-size: 17px;
    }
    .dropment-main-blog-page-section3 {
        margin-top: 150px;
        background-color: #E7FFF1;
        padding: 20px;
        border-radius: 25px;
        margin:150px 40px;
    }
    .dropment-main-blog-page-section3-img {
        background-image: url('./images/Untitled design (18) (1).png');
        height: 100vh;
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
    .dropment-main-blog-page-section3-txt {
        text-align: center;
    }
    .dropment-main-blog-page-section3-txt h2 {
        color: #242E47;
        font-size: 40px;
    }
    .dropment-main-blog-page-section3-txt h4 {
        color: #7B88A8;
        font-size: 15px;
        font-weight: 600;
    }
  }
  @media (min-width: 1025px) {
   .dropment-branding-main-page img {
    width: 70px;
   }
   .header-dropment-main-page {
    background-image: url('./images/Dropment\ \(1\).png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
   }
   .header-dropment-main-page {
    padding: 10px;
   }
   .nav-bar-dropment-main-page {
    display: inline-flex;
   }
   .nav-bar-dropment-main-page button {
    margin-left: 30px;
    cursor: pointer;
   }
   .strtffreebtn {
    background-color: white;
    color: black;
    border-radius: 25px;
    padding: 13px 20px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    border: 2px solid white;
   }
   .strtffreebtn:hover {
    background-color: transparent;
    transition: 0.3s;
    color: white;
    text-decoration: none;
   }
   .signinbtn-dropment-main-page {
    background-color: transparent;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    padding: 8px 15px;
   }
   .signinbtn-dropment-main-page:hover {
    text-decoration: underline white;
   }
   .login-btn-dropment-main-page {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 17px;
   }
   .login-btn-dropment-main-page:hover {
    text-decoration: underline white;
   }
   .aboutus-btn-main-page-dropment {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 17px;
   }
   .aboutus-btn-main-page-dropment:hover {
    text-decoration: underline white;
   }
   .pricing-btn-main-page-dropment {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 17px;
   }
   .pricing-btn-main-page-dropment:hover {
    text-decoration: underline white;
   }
   .nav-bar-dropment-main-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dropment-buttons-right {
    display: flex;
    align-items: center;
  }
  .hero-section-text-dropment-main-1 h1 {
    color: white;
    font-size: 60px;
    margin-top: 120px;
    margin-left: 100px;
  }
  .hero-section-get-started-button-main-page-dropment button {
    color: white;
    background-color: transparent;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 25px;
    padding: 20px 25px;
    font-weight: 600;
  }
  .hero-section-get-started-button-main-page-dropment button:hover {
    background-color: white;
    color: black;
    transition: 0.4s;
    cursor: pointer;
  }
.dropment-main-blog-page-section1 {
    text-align: center;
}
.dropment-main-blog-page-section1 h1 {
    font-size: 50px;
    margin-top: 100px;
}
.dropment-main-blog-page-section2 {
    margin-top: 100px;
    display: flex;
    justify-content: center; /* Start from the left */
    overflow-x: auto; /* Allow horizontal scrolling */
    padding-bottom: 20px; /* Add some bottom padding to accommodate scrollbar */
    width: calc(100% - 100px); /* Adjust the width to accommodate margins and prevent horizontal scrolling of the entire page */
    margin-left: 50px;
}

.dropment-main-blog-page-section2-section1 {
    border-top: 4px solid;
    border-image: linear-gradient(to right, #0077b3, #8cffba);
    border-image-slice: 1;
    width: 200px;
    margin-left: 50px;
    text-align: center;
}
.dropment-main-blog-page-section2-section1:hover {
    transition: 0.3s;
    margin-top: 20px;
    border-top: 4px solid;
    border-image: linear-gradient(to right, #8cffba, #0077b3);
    border-image-slice: 1;
}
.dropment-main-blog-page-section2-section2 {
    border-top: 4px solid;
    border-image: linear-gradient(to right, #0077b3, #8cffba);
    border-image-slice: 1;
    width: 200px;
    margin-left: 50px;
    text-align: center;
}
.dropment-main-blog-page-section2-section2:hover {
    transition: 0.3s;
    margin-top: 20px;
    border-top: 4px solid;
    border-image: linear-gradient(to right, #8cffba, #0077b3);
    border-image-slice: 1;
}
.dropment-main-blog-page-section2-section3 {
    border-top: 4px solid;
    border-image: linear-gradient(to right, #0077b3, #8cffba);
    border-image-slice: 1;
    width: 200px;
    margin-left: 50px;
    text-align: center;
}
.dropment-main-blog-page-section2-section3:hover {
    transition: 0.3s;
    margin-top: 20px;
    border-top: 4px solid;
    border-image: linear-gradient(to right, #8cffba, #0077b3);
    border-image-slice: 1;
}
.dropment-main-blog-page-section2-section4 {
    border-top: 4px solid;
    border-image: linear-gradient(to right, #0077b3, #8cffba);
    border-image-slice: 1;
    width: 200px;
    margin-left: 50px;
    text-align: center;
}
.dropment-main-blog-page-section2-section4:hover {
    transition: 0.3s;
    margin-top: 20px;
    border-top: 4px solid;
    border-image: linear-gradient(to right, #8cffba, #0077b3);
    border-image-slice: 1;
}
.dropment-main-blog-page-section2 h3 {
    font-size: 25px;
    font-weight: 300;
}
.dropment-main-blog-page-section2 p {
    font-size: 17px;
}
.dropment-main-blog-page-section3 {
    margin-top: 150px;
    background-color: #E7FFF1;
    padding: 20px;
    border-radius: 25px;
    margin:150px 40px;
}
.dropment-main-blog-page-section3-img {
    background-image: url('./images/Untitled design (18) (1).png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}
.dropment-main-blog-page-section3-txt {
    text-align: center;
}
.dropment-main-blog-page-section3-txt h2 {
    color: #242E47;
    font-size: 40px;
}
.dropment-main-blog-page-section3-txt h4 {
    color: #7B88A8;
    font-size: 15px;
    font-weight: 600;
}
.dropment-main-blog-page-section4 {
    padding: 20px;
    background-color: #F9FAFB;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    display: flex;
    margin: 150px 40px;
}

.dropment-main-blog-page-section4-img {
    margin-right: 20px; /* Add space between image and text */
}

.dropment-main-blog-page-section4-img img {
    width: 700px; /* Ensure the image doesn't exceed its container */
    border-radius: 25px;
}

.dropment-main-blog-page-section4-txt {
    text-align: center;
    width: 500px;
    margin-top: 50px;
}

.dropment-main-blog-page-section4-txt h2 {
    color: #242E47;
    font-size: 30px;
    margin-bottom: 10px; /* Add space between heading and paragraph */
}

.dropment-main-blog-page-section4-txt p {
    color: #7B88A8;
    font-size: 16px;
    margin-top: 30px;
}
.dropment-main-blog-page-section4-txt button {
    font-size: 19px;
    color: white;
    background-color: #661AC6;
    padding: 12px 20px;
    border: 1px solid #661AC6;
    margin-top: 50px;
    border-radius: 15px;
    cursor: pointer;
}
.dropment-main-blog-page-section4-txt button:hover {
    background-color: transparent;
    color: black;
    border-radius: 15px;
    transition: 0.3s;
    border: 1px solid #661AC6;
}
}










  body {
    margin: 0px;
}