@media (min-width: 312px) and (max-width: 480px) {
    .prodsonhomepg {
        border: 2px solid black;
        border-radius: 15px;
        margin-top: 80px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .prodsonhomepg {
        border: 2px solid black;
        border-radius: 15px;
        margin-top: 80px;
    }
}

@media (min-width: 769px) {
    .prodsonhomepg {
        border: 2px solid black;
        border-radius: 15px;
        margin-top: 80px;
    }
}

.shopsonhome {
    border: 2px solid black;
    border-radius: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.txthomeshops h2 {
    text-align: center;
}

.prodsheadhome h2 {
    text-align: center;
}