/* Header 1 */
.header-header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.logo-header1 img {
  width: 60px;
  height: auto;
}

.buttons-header1 {
  display: flex;
  gap: 10px;
}

.button-header1 {
  padding: 8px 16px;
  background-color: transparent;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}


.shopName-header1 h1 {
  font-size: 24px;
  color: black;
  margin: 0;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .header-header1 {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    transition: padding 0.3s; /* Smoother transition */
  }

  .logo-header1 {
    margin-bottom: 10px;
  }

  .buttons-header1 {
    flex-direction: column;
    align-items: center;
  }

  .button-header1 {
    margin: 5px 0;
  }

}

/* Header 2 */
.header-header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  /* Add any other styles you want for the header */
}

.logo-header2 h1 {
  margin: 0;
  font-size: 20px;
  color: black;
  /* Add other styles for your logo */
}

.nav-list-header2 {
  list-style: none;
  display: flex;
  gap: 20px;
  /* Add any other styles for the navigation */
}

.nav-item-header2 {
  cursor: pointer;
  margin-right: 20px;
  transition: transform 0.3s ease-in-out; /* Smooth transformation */
}


@media screen and (max-width: 768px) {
  /* Adjust styles for mobile if needed */
}

/* Header 4 */
.header-header4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  /* Add any other styles for the header */
}

.logo-header4 h1 {
  margin: 0;
  font-size: 20px;
  color: black;
  /* Add other styles for your logo */
}

.nav-list-header4 {
  list-style: none;
  display: flex;
  gap: 20px;
  /* Add any other styles for the navigation */
}

.nav-item-header4 {
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}



@media screen and (max-width: 768px) {
  /* Adjust styles for mobile if needed */
}

/* Header 6 */
.header-header-6 {
  background-color: #f0f0f0;
  padding: 10px 20px;
}

.nav-list-header-6 {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.nav-item-header-6 {
  cursor: pointer;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  background-color: transparent;
  color: black;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}


/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  /* Adjust styles for mobile if needed */
}