/* Base styles */
.header-header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.logo-header1 img {
  width: 60px;
  height: auto;
}

.buttons-header1 {
  display: flex;
  gap: 10px;
}

.button-header1 {
  padding: 8px 16px;
  background-color: transparent;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.shopName-header1 h1 {
  font-size: 24px;
  color: black;
  margin: 0;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .header-header1 {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .logo-header1 {
    margin-bottom: 10px;
  }

  .buttons-header1 {
    flex-direction: column;
    align-items: center;
  }

  .button-header1 {
    margin: 5px 0;
  }
}

.header-header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  /* Add any other styles you want for the header */
}

.logo-header2 h1 {
  margin: 0;
  font-size: 20px;
  color: black;
  /* Add other styles for your logo */
}

.nav-list-header2 {
  list-style: none;
  display: flex;
  gap: 20px;
  /* Add any other styles for the navigation */
}

.nav-item-header2 {
  cursor: pointer;
  margin-right: 20px;
  /* Add other styles for each navigation item */
}

@media screen and (max-width: 768px) {
  .nav-item-header2 {
    cursor: pointer;
    margin-right: 2px;
    /* Add other styles for each navigation item */
  }
}

.header-header4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  /* Add any other styles for the header */
}

.logo-header4 h1 {
  margin: 0;
  font-size: 20px;
  color: black;
  /* Add other styles for your logo */
}

.nav-list-header4  {
  list-style: none;
  display: flex;
  gap: 20px;
  /* Add any other styles for the navigation */
}

.nav-item-header4  {
  cursor: pointer;
  /* Add other styles for each navigation item */
}

.header-header-6 {
  background-color: #f0f0f0;
  padding: 10px 20px;
}

.nav-list-header-6 {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.nav-item-header-6 {
  cursor: pointer;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  background-color: transparent;
  color: black;
}

