.productmodelmbile {
  width: 200px;
  height: 290px;
  border: 2px solid black;
  border-radius: 25px;
  margin-left: 30px;
  margin-top: 40px;
  color: black;
}

.productimgmobile img {
  width: 180px;
  height: 160px;
  border-radius: 25px;
  margin-left: 10px;
  margin-top: 5px;
  border: 1px solid black;
}

.productmodelmbile ul {
  overflow: hidden;
  width: 100%;
  position: relative;
}
