.productmodelul ul {
  list-style: none;
}

.productmodel {
  margin: 15px;
}

.btnProduct span {
  display: inline;
}

.btnProduct button {
  padding: 5px 25px;
  margin: 8px;
}

.productimg img {
  width: 180px;
  border-radius: 25px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-top: 5px;
}

.buy-now-btn button {
  background-color: #ffa62b;
  border: 2px solid #ffa62b;
  color: white;
  border-radius: 8px;
  padding: 5px 25px;
}

.add-cart-btn button {
  background-color: #000000;
  border: 2px solid #000000;
  color: white;
  border-radius: 8px;
}

.productmodel {
  width: 200px;
  height: 230px;
  border: 2px solid black;
  border-radius: 15px;
}

.product__title h2 {
  margin-left: 8px;
  text-decoration: none;
}

.product__amount h3 {
  margin-left: 8px;
  text-decoration: none;
}

.product__quantity h3 {
  margin-left: 8px;
  text-decoration: none;
}

.productmodelul ul {
  display: inline-flex;
}

.buy-now-btn button:hover {
  opacity: 40%;
  transition: 0.4s;
}

.addtocartbtn2 button {
  padding: 5px 15px;
  border-radius: 8px;
  border: 2px solid black;
  background-color: black;
  color: white;
  margin-left: 8px;
}

.dropment h1 {
  color: rgb(74, 215, 74);
}

.productmodelul ul {
  overflow-x: auto;
  display: flex;
  white-space: nowrap;
}
.formorder {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for form headings */
.formorder h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

/* Style for labels */
.formorder label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
  color: #555;
}

/* Style for input fields */
.formorder input[type="text"],
.formorder input[type="number"],
.formorder input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style for buttons */
.formorder button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.formorder button:hover {
  background-color: #0056b3;
}

/* Style for form buttons */
.btn {
  text-align: center;
}

/* Style for the form fields */
.formorder > form > div {
  margin-bottom: 20px;
}
.productmodeltemp3 {
  border: 1px solid white;
}