.headerforprofiles {
  padding: 10px 20px;
  background-color: #121212;
  border-bottom: 1px solid #333;
}

.btnprofiles {
  text-decoration: none;
  display: inline-flex;
}

.homebtnprofilesusrs {
  padding: 8px 16px;
  margin-right: 10px;
  border: none;
  background-color: #3897f0;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.followunfollowbtns button {
  padding: 8px 16px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.unfollowbtn {
  background-color: transparent;
  border: 1px solid #ed4956;
  color: #fff;
  border-radius: 3px;
  margin-right: 10px;
}

.all-shop-profile {
  text-align: center;
}

.followbtn {
  background-color: #3897f0;
  color: #fff;
  border: 1px solid #3897f0;
  border-radius: 3px;
  margin-right: 10px;
}

/* Profile Section Styles */
.profilesectionusers {
  display: flex;
  padding: 20px;
}

.imgprof img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #555;
}

.detailsaboutusersection {
  flex: 1;
  padding-left: 20px;
}

.nameofuser h2 {
  margin: 5px 0;
  font-size: 24px;
}

.lastnameuserdetails {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}

.folloiwngandunfloowingbtn button {
  padding: 8px 16px;
  margin-top: 10px;
  border: none;
  background-color: #3897f0;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

/* Shops Section Styles */
.shopssecuserporfileinusers {
  padding: 20px;
}

.shopssecuserporfileinusers h2 {
  margin-top: 0;
  font-size: 24px;
}
.biouserdetils {
  width: 400px;
}

/* Media Query for Screen Optimization */
@media screen and (max-width: 768px) {
  .profilesectionusers {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .imgprof img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
  }

  .detailsaboutusersection {
    padding: 0;
  }
}