.user-card {
    background-color: #000000;
    border: 1px solid #333;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
    color: white;
  }
  
  .user-post {
    width: 100%;
  }
  
  /* User Post Header Styles */
  .user-post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .user-post-image {
    margin-right: 15px;
  }
  
  .user-post-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .user-post-details {
    flex: 1;
  }
  
  .user-post-username {
    text-decoration: none;
    color: #ffffff;
  }
  
  .user-unique-id {
    color: #ffffff;
    margin-top: 2px;
    font-size: 14px;
  }
  
  /* User Bio Styles */
  .user-bio {
    margin-bottom: 10px;
    color: #ffffff;
    display: none;
  }
  
  /* User Post Actions Styles */
  .user-post-actions {
    margin-bottom: 10px;
  }
  
  .profile-link-button {
    padding: 8px 16px;
    border: 1px solid #333;
    background-color: transparent;
    color: #333;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
  }
  
  /* User Post Footer Styles */
  .user-post-footer {
    display: flex;
    color: #ffffff;
  }
  
  .user-post-footer div {
    margin-right: 20px;
  }
  
  .heart-icon,
  .comment-icon {
    margin-right: 5px;
    vertical-align: middle;
  }