@media (min-width: 312px) and (max-width: 480px){ 
    
    .btnstemp4head1  li{
        display: inline-flex;
        list-style: none;
        margin-top: 15px;
    }
    .temp4header1 header {
        display: inline-flex;
    }
    .btnstemp4head1 button {
        background-color: transparent;
        color: #fffcf2;
        border: transparent;
        margin-top: 5px;
    }
    .temp4header1 h1 {
        color: #fffcf2;
    }
    .maintemp4 main {
        background: black;
    }
    .img2header2temp4 img {
        width: 312px;
        height: 200px;
    }
    .abtusno1part1 img {
        width: 200px;
        border-radius: 15px;
    }
    .abtusno1part1 {
        margin-top: 100px;
    }
    .abtusno1part1 h2{
        color: white;
        text-align: center;
        font-size: x-large;
        font-weight: 300;
        width: 150px;
    }
    .abtusno1part1 p{
        color: white;
        width: 150px;
    }
    .abt1part2temp4 {
        margin-top: 100px;
    }
    .abt1part2temp4 img {
        width: 200px;
        border-radius: 15px;
        margin-left: 80px;
    }
    .abt1part2temp4 h2 {
        color: white;
        width: 150px;
        text-align: center;
        font-size: x-large;
        font-weight: 300;
        width: 150px;
        margin-left: 130px;
    }
    .abt1part2temp4 p {
        color: white;
        text-align: center;
        width: 150px;
        margin-left: 130px;
    }
    .abt1temp4part3 img {
        width: 200px;
        border-radius: 15px;
    }
    .abt1temp4part3 {
        margin-top: 130px;
    }
    .abt1temp4part3 h2 {
        color: white;
        width: 100px;
        text-align: center;
        font-size: xx-large;
        font-weight: 300;
    }
    .abt1temp4part3 p {
        color: white;
        width: 100px;
        text-align: center;
    }
    .productimg4 img {
        width: 180px;
        margin-left: 10px;
        border-radius: 25px;
    }
    .prodstemp4text {
        text-align: center;
        color: white;
    }

    .ourprodstemp4 {
        margin-top: 150px;
    }
    .product__title4 h2 {
        color: white;
        width: 180px;
        font-weight: 100;
    }
    .product__amount4 {
        color: white;
        width: 180px;
    }
    .productmodel4 {
        width: 200px;
        height: 280px;
        border-radius: 25px;
        border: 1px solid white;
        margin-left: 30px;
        padding: 5px;
        margin-top: 30px;
    }
    .greateimgtemp4 img {
        width: 200px;
        height: 200px;
        border-radius: 25px;
        margin-left: 50px;
    }
    .grtimgtemp41 img {
        margin-top: 10px;
    }
    .grtimgtemp42 img {
        margin-top: 30px;
    }
    .grtimgtemp43 img {
        margin-top: 90px;
    }
    .temp4textgrtimg {
        color: #fffcf2;
        text-align: center;
    }
    .maindivforgrtimgtemp4 {
        margin-top: 150px;
    }
    .footertemp4 {
        color: white;
        margin-left: 30px;
        padding: 40px;
    }
    .footertemp4 li {
        margin-top: 20px;
        list-style: none;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    
    .btnstemp4head1  li{
        display: inline-flex;
        list-style: none;
        margin-top: 15px;
        margin-left: 15px;
    }
    .temp4header1 header {
        display: inline-flex;
    }
    .btnstemp4head1 button {
        background-color: transparent;
        color: #fffcf2;
        border: transparent;
        margin-top: 5px;
    }
    .temp4header1 h1 {
        color: #fffcf2;
    }
    .maintemp4 main {
        background: black;
    }
    .img2header2temp4 img {
        width: 470px;
        height: 200px;
    }
    .abtusno1part1 img {
        width: 300px;
        border-radius: 15px;
    }
    .abtusno1part1 {
        margin-top: 100px;
    }
    .abtusno1part1 h2{
        color: white;
        text-align: center;
        font-size: x-large;
        font-weight: 300;
        width: 200px;

    }
    .abtusno1part1 p{
        color: white;
        width: 300px;
    }
    .abt1part2temp4 {
        margin-top: 100px;
        display: inline-flex;
    }
    .abt1part2temp4 img {
        width: 200px;
        border-radius: 15px;
        margin-left: 30px;
    }
    .abt1part2temp4 h2 {
        color: white;
        width: 150px;
        text-align: center;
        font-size: x-large;
        font-weight: 300;
        width: 200px;
    }
    .abt1part2temp4 p {
        color: white;
        text-align: center;
        width: 200px;
    }
    .abt1temp4part3 img {
        width: 400px;
        border-radius: 15px;
        margin-left: 20px;
    }
    .abt1temp4part3 {
        margin-top: 130px;
    }
    .abt1temp4part3 h2 {
        color: white;
        width: 400px;
        text-align: center;
        font-size: xx-large;
        font-weight: 300;
    }
    .abt1temp4part3 p {
        color: white;
        width: 400px;
        text-align: center;
    }
    .productimg4 img {
        width: 180px;
        margin-left: 10px;
        border-radius: 25px;
    }
    .prodstemp4text {
        text-align: center;
        color: white;
    }

    .ourprodstemp4 {
        margin-top: 150px;
    }
    .product__title4 h2 {
        color: white;
        width: 180px;
        font-weight: 100;
    }
    .product__amount4 {
        color: white;
        width: 180px;
    }
    .productmodel4 {
        width: 200px;
        height: 280px;
        border-radius: 25px;
        border: 1px solid white;
        margin-left: 30px;
        padding: 5px;
        margin-top: 30px;
    }
    .greateimgtemp4 img {
        width: 150px;
        height: 100px;
        border-radius: 25px;
        margin-left: 5px;
        
    }
    .greateimgtemp4 {
        display: inline-flex;
    }
    
    .grtimgtemp41 img {
        margin-top: 10px;
    }
    .grtimgtemp42 img {
        margin-top: 30px;
    }
    .grtimgtemp43 img {
        margin-top: 90px;
    }
    .temp4textgrtimg {
        color: #fffcf2;
        text-align: center;
    }
    .maindivforgrtimgtemp4 {
        margin-top: 150px;
    }
    .footertemp4 {
        color: white;
        padding: 40px;
        margin-top: 100px;
    }
    .footertemp4 li {
        margin-top: 20px;
        list-style: none;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    
    .btnstemp4head1  li{
        display: inline-flex;
        list-style: none;
        margin-top: 15px;
        margin-left: 50px;
    }
    .temp4header1 header {
        display: inline-flex;
    }
    .btnstemp4head1 button {
        background-color: transparent;
        color: #fffcf2;
        border: transparent;
        margin-left: 5px;
        margin-top: 5px;
    }
    .temp4header1 h1 {
        color: #fffcf2;
    }
    .maintemp4 main {
        background: black;
    }
    .img2header2temp4 img {
        width: 769px;
        height: 300px;
    }
    .abtusno1part1 img {
        width: 300px;
        border-radius: 25px;
    }
    .abtusno1part1 {
        margin-top: 100px;
        display: inline-flex;
    }
    .abtusno1part1 h2{
        color: white;
        width: 200px;
        text-align: center;
        font-size: xx-large;
        font-weight: 300;
    }
    .abtusno1part1 p{
        color: white;
        width: 200px;
    }
    .abt1part2temp4 {
        margin-top: 100px;
        display: inline-flex;
    }
    .abt1part2temp4 img {
        width: 300px;
        border-radius: 25px;
        margin-left: 100px;
    }
    .abt1part2temp4 h2 {
        color: white;
        width: 280px;
        text-align: center;
        font-size: xx-large;
        font-weight: 300;
    }
    .abt1part2temp4 p {
        color: white;
        width: 280px;
        text-align: center;
    }
    .abt1temp4part3 img {
        width: 300px;
        margin-left: 200px;
        border-radius: 25px;
    }
    .abt1temp4part3 {
        margin-top: 130px;
    }
    .abt1temp4part3 h2 {
        color: white;
        width: 400px;
        text-align: center;
        margin-left: 150px;
        font-size: xx-large;
        font-weight: 300;
    }
    .abt1temp4part3 p {
        color: white;
        width: 400px;
        text-align: center;
        margin-left: 150px;
    }
    .productimg4 img {
        width: 180px;
        margin-left: 10px;
        border-radius: 25px;
    }
    .prodstemp4text {
        text-align: center;
        color: white;
    }

    .ourprodstemp4 {
        margin-top: 150px;
    }
    .product__title4 h2 {
        color: white;
        width: 180px;
        font-weight: 100;
    }
    .product__amount4 {
        color: white;
        width: 180px;
    }
    .productmodel4 {
        width: 200px;
        height: 280px;
        border-radius: 25px;
        border: 1px solid white;
        margin-left: 30px;
        padding: 5px;
        margin-top: 30px;
    }
    .greateimgtemp4 {
        display: inline-flex;
        margin-left: 50px;
    }
    .greateimgtemp4 img {
        width: 200px;
        height: 200px;
        border-radius: 25px;
        margin-left: 10px;
    }
    .grtimgtemp41 img {
        margin-top: 10px;
    }
    .grtimgtemp42 img {
        margin-top: 30px;
    }
    .grtimgtemp43 img {
        margin-top: 90px;
    }
    .temp4textgrtimg {
        color: #fffcf2;
        text-align: center;
    }
    .maindivforgrtimgtemp4 {
        margin-top: 150px;
    }
    .footertemp4 {
        color: white;
        margin-left: 30px;
        padding: 40px;
    }
    .footertemp4 li {
        margin-top: 20px;
        list-style: none;
    }
}

@media (min-width: 1025px){
    
    .btnstemp4head1  li{
        display: inline-flex;
        list-style: none;
        margin-top: 15px;
        margin-left: 50px;
    }
    .temp4header1 header {
        display: inline-flex;
    }
    .btnstemp4head1 button {
        background-color: transparent;
        color: #fffcf2;
        border: transparent;
        margin-left: 5px;
        margin-top: 5px;
    }
    .temp4header1 h1 {
        color: #fffcf2;
    }
    .maintemp4 main {
        background: black;
    }
    .img2header2temp4 img {
        width: 1120px;
        height: 400px;
        margin-left: 40px;
    }
    .abtusno1part1 img {
        width: 500px;
        border-radius: 25px;
    }
    .abtusno1part1 {
        margin-top: 100px;
        display: inline-flex;
        margin-left: 80px;
    }
    .abtusno1part1 h2{
        color: white;
        margin-left: 70px;
        width: 400px;
        text-align: center;
        font-size: xx-large;
        font-weight: 300;
    }
    .abtusno1part1 p{
        color: white;
        width: 400px;
        margin-left: 70px;
    }
    .abt1part2temp4 {
        margin-top: 100px;
        display: inline-flex;
    }
    .abt1part2temp4 img {
        width: 500px;
        border-radius: 25px;
        margin-left: 300px;
    }
    .abt1part2temp4 h2 {
        color: white;
        width: 400px;
        text-align: center;
        margin-left: 20px;
        font-size: xx-large;
        font-weight: 300;
    }
    .abt1part2temp4 p {
        color: white;
        width: 400px;
        text-align: center;
        margin-left: 20px;
    }
    .abt1temp4part3 img {
        width: 500px;
        margin-left: 400px;
        border-radius: 25px;
    }
    .abt1temp4part3 {
        margin-top: 130px;
    }
    .abt1temp4part3 h2 {
        color: white;
        width: 400px;
        text-align: center;
        margin-left: 450px;
        font-size: xx-large;
        font-weight: 300;
    }
    .abt1temp4part3 p {
        color: white;
        width: 400px;
        text-align: center;
        margin-left: 450px;
    }
    .productimg4 img {
        width: 180px;
        margin-left: 10px;
        border-radius: 25px;
    }
    .prodstemp4text {
        text-align: center;
        color: white;
    }

    .ourprodstemp4 {
        margin-top: 150px;
    }
    .product__title4 h2 {
        color: white;
        width: 180px;
        font-weight: 100;
    }
    .product__amount4 {
        color: white;
        width: 180px;
    }
    .productmodel4 {
        width: 200px;
        height: 280px;
        border-radius: 25px;
        border: 1px solid white;
        margin-left: 30px;
        padding: 5px;
        margin-top: 30px;
    }
    .greateimgtemp4 {
        display: inline-flex;
        margin-left: 50px;
    }
    .greateimgtemp4 img {
        width: 300px;
        height: 300px;
        border-radius: 25px;
        margin-left: 50px;
    }
    .grtimgtemp41 img {
        margin-top: 10px;
    }
    .grtimgtemp42 img {
        margin-top: 30px;
    }
    .grtimgtemp43 img {
        margin-top: 90px;
    }
    .temp4textgrtimg {
        color: #fffcf2;
        text-align: center;
    }
    .maindivforgrtimgtemp4 {
        margin-top: 150px;
    }
    .footertemp4 {
        color: white;
        margin-left: 30px;
        padding: 40px;
    }
    .footertemp4 li {
        margin-top: 20px;
        list-style: none;
    }
}