@media (min-width: 312px) and (max-width: 480px){ 
    
    .btnstemp4head1  li{
        display: inline-flex;
        list-style: none;
        margin-top: 15px;
    }
    .temp4header1 header {
        display: inline-flex;
    }
    .btnstemp4head1 button {
        background-color: transparent;
        color: #fffcf2;
        border: transparent;
        margin-top: 5px;
    }
    .temp4header1 h1 {
        color: #fffcf2;
    }
    .maintemp4 main {
        background: black;
    }
    .img2header2temp4 img {
        width: 100%;
    }
  
    .abtustemp4 h2, p {
    color: white;
    text-align: center;
    font-weight: 300;
  }
  
  /* Consistent image styling */
  .abtusno1part1 img,
  .abt1part2temp4 img,
  .abt1temp4part3 img {
    width: 200px;
    border-radius: 15px;
  }
  
  /* Flexbox layout for sections */
  .abtustemp4 > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px; /* Adjust as needed */
  }
  .abtustemp4 > div {
    flex-direction: column;
    text-align: center;
  }

  .abtustemp4 h2, p {
    width: auto; /* Reset width */
  }

  /* Adjust image size for smaller screens */
  .abtusno1part1 img,
  .abt1part2temp4 img,
  .abt1temp4part3 img {
    width: 100%;
  }
    .productimg4 img {
        width: 180px;
        margin-left: 10px;
        border-radius: 25px;
    }
    .prodstemp4text {
        text-align: center;
        color: white;
    }

    .ourprodstemp4 {
        margin-top: 150px;
    }
    .product__title4 h2 {
        color: white;
        width: 180px;
        font-weight: 100;
    }
    .product__amount4 {
        color: white;
        width: 180px;
    }
    .productmodel4 {
        width: 200px;
        height: 280px;
        border-radius: 25px;
        border: 1px solid white;
        margin-left: 30px;
        padding: 5px;
        margin-top: 30px;
    }
    .greateimgtemp4 img {
        width: 200px;
        height: 200px;
        border-radius: 25px;
        margin-left: 50px;
    }
    .grtimgtemp41 img {
        margin-top: 10px;
    }
    .grtimgtemp42 img {
        margin-top: 30px;
    }
    .grtimgtemp43 img {
        margin-top: 90px;
    }
    .temp4textgrtimg {
        color: #fffcf2;
        text-align: center;
    }
    .maindivforgrtimgtemp4 {
        margin-top: 150px;
    }
    .footertemp4 {
        color: white;
        margin-left: 30px;
        padding: 40px;
    }
    .footertemp4 li {
        margin-top: 20px;
        list-style: none;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    
    .btnstemp4head1  li{
        display: inline-flex;
        list-style: none;
        margin-top: 15px;
        margin-left: 15px;
    }
    .temp4header1 header {
        display: inline-flex;
    }
    .btnstemp4head1 button {
        background-color: transparent;
        color: #fffcf2;
        border: transparent;
        margin-top: 5px;
    }
    .temp4header1 h1 {
        color: #fffcf2;
    }
    .maintemp4 main {
        background: black;
    }
    .img2header2temp4 img {
        width: 100%;
    }
    .abtustemp4 h2, p {
        color: white;
        text-align: center;
        font-weight: 300;
      }

      
      /* Flexbox layout for sections */
      .abtustemp4 > div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 50px; /* Adjust as needed */
      }
      .abtustemp4 > div {
        flex-direction: column;
        text-align: center;
      }
    
      .abtustemp4 h2, p {
        width: auto; /* Reset width */
      }
    
      /* Adjust image size for smaller screens */
      .abtusno1part1 img,
      .abt1part2temp4 img,
      .abt1temp4part3 img {
        width: 90%;
        border-radius: 25px;
      }
    .productimg4 img {
        width: 180px;
        margin-left: 10px;
        border-radius: 25px;
    }
    .prodstemp4text {
        text-align: center;
        color: white;
    }

    .ourprodstemp4 {
        margin-top: 150px;
    }
    .product__title4 h2 {
        color: white;
        width: 180px;
        font-weight: 100;
    }
    .product__amount4 {
        color: white;
        width: 180px;
    }
    .productmodel4 {
        width: 200px;
        height: 280px;
        border-radius: 25px;
        border: 1px solid white;
        margin-left: 30px;
        padding: 5px;
        margin-top: 30px;
    }
    .greateimgtemp4 img {
        width: 150px;
        height: 100px;
        border-radius: 25px;
        margin-left: 5px;
        
    }
    .greateimgtemp4 {
        display: inline-flex;
    }
    
    .grtimgtemp41 img {
        margin-top: 10px;
    }
    .grtimgtemp42 img {
        margin-top: 30px;
    }
    .grtimgtemp43 img {
        margin-top: 90px;
    }
    .temp4textgrtimg {
        color: #fffcf2;
        text-align: center;
    }
    .maindivforgrtimgtemp4 {
        margin-top: 150px;
    }
    .footertemp4 {
        color: white;
        padding: 40px;
        margin-top: 100px;
    }
    .footertemp4 li {
        margin-top: 20px;
        list-style: none;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    
    .btnstemp4head1  li{
        display: inline-flex;
        list-style: none;
        margin-top: 15px;
        margin-left: 50px;
    }
    .temp4header1 header {
        display: inline-flex;
    }
    .btnstemp4head1 button {
        background-color: transparent;
        color: #fffcf2;
        border: transparent;
        margin-left: 5px;
        margin-top: 5px;
    }
    .temp4header1 h1 {
        color: #fffcf2;
    }
    .maintemp4 main {
        background: black;
    }
    .img2header2temp4 img {
        width: 100%;
    }
    .abtustemp4 {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .abtusno1part1,
      .abt1part2temp4,
      .abt1temp4part3 {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        align-items: center;
      }
      
      .abtusno1part1 img,
      .abt1part2temp4 img,
      .abt1temp4part3 img {
        width: 300px;
        border-radius: 25px;
      }
      
      .abtusno1part1 h2,
      .abt1part2temp4 h2,
      .abt1temp4part3 h2 {
        color: white;
        font-size: xx-large;
        font-weight: 300;
        text-align: center;
        width: 200px; /* Adjust as needed */
      }
      
      .abtusno1part1 p,
      .abt1part2temp4 p,
      .abt1temp4part3 p {
        color: white;
        width: 200px; /* Adjust as needed */
        text-align: center;
      }
      
      .abt1part2temp4 img {
        margin-left: 100px;
      }
      
      .abt1temp4part3 img {
        margin-left: 200px;
      }
      
      .abt1temp4part3 {
        margin-top: 130px;
      }
      
      .abt1temp4part3 h2,
      .abt1temp4part3 p {
        width: 300px;
        text-align: center;
      }
    .productimg4 img {
        width: 180px;
        margin-left: 10px;
        border-radius: 25px;
    }
    .prodstemp4text {
        text-align: center;
        color: white;
    }

    .ourprodstemp4 {
        margin-top: 150px;
    }
    .product__title4 h2 {
        color: white;
        width: 180px;
        font-weight: 100;
    }
    .product__amount4 {
        color: white;
        width: 180px;
    }
    .productmodel4 {
        width: 200px;
        height: 280px;
        border-radius: 25px;
        border: 1px solid white;
        margin-left: 30px;
        padding: 5px;
        margin-top: 30px;
    }
    .greateimgtemp4 {
        display: inline-flex;
        margin-left: 50px;
    }
    .greateimgtemp4 img {
        width: 200px;
        height: 200px;
        border-radius: 25px;
        margin-left: 10px;
    }
    .grtimgtemp41 img {
        margin-top: 10px;
    }
    .grtimgtemp42 img {
        margin-top: 30px;
    }
    .grtimgtemp43 img {
        margin-top: 90px;
    }
    .temp4textgrtimg {
        color: #fffcf2;
        text-align: center;
    }
    .maindivforgrtimgtemp4 {
        margin-top: 150px;
    }
    .footertemp4 {
        color: white;
        margin-left: 30px;
        padding: 40px;
    }
    .footertemp4 li {
        margin-top: 20px;
        list-style: none;
    }
}

@media (min-width: 1025px){
    
    .btnstemp4head1  li{
        display: inline-flex;
        list-style: none;
        margin-top: 15px;
        margin-left: 50px;
    }
    .temp4header1 header {
        display: inline-flex;
    }
    .btnstemp4head1 button {
        background-color: transparent;
        color: #fffcf2;
        border: transparent;
        margin-left: 5px;
        margin-top: 5px;
    }
    .temp4header1 h1 {
        color: #fffcf2;
    }
    .maintemp4 main {
        background: black;
    }
    .img2header2temp4 img {
        width: 100%;
    }
        .abtustemp4 {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .abtusno1part1,
      .abt1part2temp4,
      .abt1temp4part3 {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        align-items: center;
      }
      
      .abtusno1part1 img,
      .abt1part2temp4 img,
      .abt1temp4part3 img {
        width: 50%;
        border-radius: 25px;
      }
      
      .abtusno1part1 h2,
      .abt1part2temp4 h2,
      .abt1temp4part3 h2 {
        color: white;
        font-size: xx-large;
        font-weight: 300;
        text-align: center;
        width: 200px; /* Adjust as needed */
      }
      
      .abtusno1part1 p,
      .abt1part2temp4 p,
      .abt1temp4part3 p {
        color: white;
        width: 50%; /* Adjust as needed */
        text-align: center;
      }  
      .abt1temp4part3 {
        margin-top: 130px;
      }
      
      .abt1temp4part3 h2,
      .abt1temp4part3 p {
        width: 300px;
        text-align: center;
      }
    .productimg4 img {
        width: 180px;
        margin-left: 10px;
        border-radius: 25px;
    }
    .prodstemp4text {
        text-align: center;
        color: white;
    }

    .ourprodstemp4 {
        margin-top: 150px;
    }
    .product__title4 h2 {
        color: white;
        width: 180px;
        font-weight: 100;
    }
    .product__amount4 {
        color: white;
        width: 180px;
    }
    .productmodel4 {
        width: 200px;
        height: 280px;
        border-radius: 25px;
        border: 1px solid white;
        margin-left: 30px;
        padding: 5px;
        margin-top: 30px;
    }
    .greateimgtemp4 {
        display: inline-flex;
        margin-left: 50px;
    }
    .greateimgtemp4 img {
        width: 300px;
        height: 300px;
        border-radius: 25px;
        margin-left: 50px;
    }
    .grtimgtemp41 img {
        margin-top: 10px;
    }
    .grtimgtemp42 img {
        margin-top: 30px;
    }
    .grtimgtemp43 img {
        margin-top: 90px;
    }
    .temp4textgrtimg {
        color: #fffcf2;
        text-align: center;
    }
    .maindivforgrtimgtemp4 {
        margin-top: 150px;
    }
    .footertemp4 {
        color: white;
        margin-left: 30px;
        padding: 40px;
    }
    .footertemp4 li {
        margin-top: 20px;
        list-style: none;
    }
}