/* stories-display.css */

/* Overall container styles */
/* Styling for scrollbar */
/* Hide the default scrollbar for WebKit (Chrome, Safari, etc.) */
.storysmodelul-container::-webkit-scrollbar {
  background-color: #555;
  border: 1px solid #555;
  border-radius: 25px;
  width: 10px;
  height: 4px;
}

/* Styles for non-WebKit browsers */
.storysmodelul-container {
  scrollbar-width: none; /* Firefox */
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Ensure items stay in a single line */
  max-width: 90vw; /* Set your desired maximum width */
  margin: 0 auto; /* Center the container */
}

/* Track */
.storysmodelul-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey */
}

/* Handle */
.storysmodelul-container::-webkit-scrollbar-thumb {
  background: #888; /* Dark grey */
}

/* Handle on hover */
.storysmodelul-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker grey */
}
  
  /* List styles */
  .storysmodelul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Individual story item styles */
  .maindivforstoriesuserdisplay {
    margin: 10px;
    text-align: center;
    display: inline-block; /* Ensure inline block for horizontal layout */
  }
  
  .storiesuserprofilepicuser {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: border 0.3s ease-in-out;
  }
  
  .storiesuserprofilepicuser:hover {
    border-color: #ff6633; /* Change to a darker color on hover */
    cursor: pointer;
  }
  
  /* Loading animation styles */
  .loading-spinner {
    /* Add your loading spinner styles here */
  }
  .add-blindfeed-header button {
    background-color: transparent;
    color: white;
    border: 1px solid #333;
    cursor: pointer;
    padding: 12px 17px;
    border-radius: 9px;
  }