.story-upload-container {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}
.add-blindfeed-header button {
  background-color: transparent;
  color: white;
  border: 1px solid #333;
  cursor: pointer;
}
.story-upload-container h2 {
  font-size: 24px;
  color: #333;
}

.story-upload-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.story-upload-container label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.story-upload-container input[type="text"],
.story-upload-container input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.story-upload-container button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.story-upload-container button:hover {
  background-color: #0056b3;
}

.preview-image {
  max-width: 100%;
  margin-top: 20px;
  border-radius: 4px;
}

.stories-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Individual story card container */
.story-image,
.story-video {
  width: 300px; /* Set your desired width */
  height: 300px; /* Set your desired height */
  border-radius: 8px;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  margin-bottom: 10px;
}

/* Individual story card container */
.story-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 80%;
}

/* Buttons */
.story-button {
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
}
