@media (min-width: 312px) and (max-width: 480px) {
  .imgaddshop img {
    width: 100px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .imgaddshop img {
    width: 150px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .imgaddshop img {
    width: 180px;
  }
}

@media (min-width: 1025px) {
  .imgaddshop img {
    width: 200px;
  }
}

.temp button {
  padding: 8px 20px;
  margin: 10px;
  border: 2px solid grey;
  border: 25px;
  background-color: white;
}
