@media (min-width: 312px) and (max-width: 480px) {
  .form1 {
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px;
    background-color: black;
  }

  .backbtn button {
    color: rgb(255, 248, 248);
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    margin: 5px;
    padding: 6px;
  }

  .formtxthead h4 {
    margin-left: 5px;
    color: white;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
  }

  .table p {
    color: white;
  }

  .table input {
    background-color: white;
    border-radius: 15px;
    padding: 10px 40px;
  }

  .addnewstorebtn button {
    padding: 10px 30px;
    border: 1px solid white;
    color: white;
    border-radius: 25px;
    background-color: black;
    margin-left: 50px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .form1 {
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px;
    background-color: black;
  }

  .backbtn button {
    color: rgb(255, 248, 248);
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    margin: 5px;
    padding: 6px;
  }

  .formtxthead h4 {
    margin-left: 5px;
    color: white;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
  }

  .table p {
    color: white;
  }

  .table input {
    background-color: white;
    border-radius: 15px;
    padding: 10px 40px;
  }

  .addnewstorebtn button {
    padding: 10px 30px;
    border: 1px solid white;
    color: white;
    border-radius: 25px;
    background-color: black;
    margin-left: 50px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .form1 {
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px;
    background-color: black;
  }

  .backbtn button {
    color: rgb(255, 248, 248);
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    margin: 5px;
    padding: 6px;
  }

  .backbtn button:hover {
    text-decoration: underline red;
    transition: 0.4s;
  }

  .formtxthead h4 {
    margin-left: 5px;
    color: white;
    font-size: large;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
  }

  .table p {
    color: white;
    font-size: large;
  }

  .table input {
    background-color: white;
    border-radius: 15px;
    padding: 15px 70px;
  }

  .addnewstorebtn button {
    padding: 10px 30px;
    border: 1px solid white;
    color: white;
    border-radius: 25px;
    background-color: black;
    margin-left: 50px;
  }
}

@media (min-width: 1025px) {
  .form1 {
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px;
    background-color: black;
  }

  .backbtn button {
    color: rgb(255, 248, 248);
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    margin: 5px;
    padding: 6px;
  }

  .backbtn button:hover {
    text-decoration: underline red;
    transition: 0.4s;
  }

  .formtxthead h4 {
    margin-left: 5px;
    color: white;
    font-size: large;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
  }

  .table p {
    color: white;
    font-size: large;
  }

  .table input {
    background-color: white;
    border-radius: 15px;
    padding: 15px 70px;
  }

  .addnewstorebtn button {
    padding: 10px 30px;
    border: 1px solid white;
    color: white;
    border-radius: 25px;
    background-color: black;
    margin-left: 50px;
  }
}

.nicheheaderbtn button {
  color: black;
  padding: 8px 20px;
  border: 2px solid white;
  background-color: white;
  border-radius: 25px;
  margin: 5px;
}
.imgaddshop {
  border: 2px solid black;
  width: 220px;
  height: 280px;
  border-radius: 15px;
}

.imgaddshop h3 {
  color: black;
  margin-left: 20px
  ;
}