.step1buildheader h1 {
  text-align: center;
  font-weight: 300;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.select-nav-bar-build-shop {
  padding: 10px 20px;
  border-radius: 15px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 20px 150px; /* Updated margin */
}

.select-nav-bar-build-shop:hover {
  background-color: transparent;
  transition: 0.3s;
  border-radius: 25px;
  color: rgb(255, 255, 255);
  border: 2px solid #ffffff;
}
  .formheadertextcustomshop {
    text-align: center;
  }
  .formheadertextcustomshop h1 {
    font-weight: 200;
  }
  .formheadertextcustomshop p {
    font-weight: 100;
  }
  @import url('https://fonts.googleapis.com/css?family=San+Francisco&display=swap');
  .main-div-builder {
    font-family: 'San Francisco', sans-serif;
  /* Other global styles */
  background-color: #000000;
  }

  body{
    font-family: 'San Francisco', sans-serif;
  }

  .dark-box-container {
    color: #ffffff;
    text-align: center;
    /* Additional styling */
  }
  
  .dark-header-section {
    padding: 20px;
    /* Additional styling */
  }
  
  .dark-section-heading {
    margin-bottom: 20px;
    font-weight: 100;
    /* Additional styling */
  }
  
  .dark-go-back-button {
    background-color: transparent;
    color: white;
    border: 1px solid #333;
    border-radius: 9px;
    padding: 12px;
    cursor: pointer;
    /* Additional styling */
  }
  
  .dark-section-buttons {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Align buttons horizontally in the center */
    /* Additional styling */
  }
  
  .dark-section-button {
    background-color: #6E49F6;
    color: white;
    width: 180px;
    padding: 10px;
    border: 1px solid #6E49F6;
    border-radius: 9px;
    cursor: pointer;
    margin-bottom: 30px; 
 }
 .dark-section-button:hover {
  background-color: transparent;
  color: white;
  transition: 0.3s;
  border: 1px solid #6E49F6;
 }

 .go-offline-btn-shop-header-admin-menu {
  background-color: #333;
  color: white;
  border: 1px solid #333;
  border-radius: 9px;
  cursor: pointer;
 }