/* Common styles */
.content-shop-builder {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Ensures full height */
}

.header-shop-builder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #444;
  margin-bottom: 20px;
}

.headerButtons-shop-builder {
  display: flex;
}

.navButton-shop-builder,
.backButton-shop-builder {
  margin-right: 10px;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  background-color: #1F1E2C;
  transition: background-color 0.3s ease-in-out;
}

.navButton-shop-builder:hover,
.backButton-shop-builder:hover {
  background-color: #1F1E2C;
}

.content-shop-builder {
  text-align: center;
}

.quote-shop-builder {
  margin-bottom: 30px;
}

.quoteText-shop-builder {
  font-size: 28px;
  font-weight: bold;
  color: #ddd;
}

.templates-shop-builder {
  display: flex;
  justify-content: center;
}

.setupButton-shop-builder {
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  background-color: #6A47F8;
  transition: background-color 0.3s ease-in-out;
}

.setupButton-shop-builder:hover {
  background-color: #5227ff;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .container-shop-builder {
    width: 90%;
  }

  .quoteText-shop-builder {
    font-size: 24px;
  }

  .setupButton-shop-builder {
    padding: 10px 20px;
    font-size: 16px;
  }
}