.niches {
    display: flex;
    flex-wrap: wrap; /* Allow for responsive layout */
    justify-content: center; /* Center align horizontally */
    align-items: center; /* Center align vertically */
    height: 100vh; /* Ensures full viewport height */
    background-color: black; /* Set the background to black */
    padding: 20px; /* Add some padding to the container */
    text-align: center; /* Center-align text content */
  }

  .button-button-primary-template-button {
    background-color: #14181d;
    color: white;
    border: 2px solid #14181d;
    padding: 12px 20px;
    width: 300px;
    border-radius: 9px;
    margin-top: 9px;
    cursor: pointer;
  }

  .button-button-secondary-preview-button {
    border: 2px solid #14181d;
    color: white;
    background-color: transparent;
    border-radius: 9px;
    padding: 12px 20px;
    width: 200px;
    margin-top: 9px;
  }

  .nicheheaderbtn button {
    border: 1px solid #14181d;
    padding: 9px 17px;
    border-radius: 9px;
    margin: 0px 10px;
    background-color: transparent;
    cursor: pointer;
    color: white;
  }