@media (min-width: 312px) and (max-width: 480px) {
  .profile-pic  {
    width: 100px;
    border-radius: 50%;
    margin-left: 50px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .profile-pic  {
    width: 150px;
    border-radius: 50%;
    margin-left: 150px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .profile-pic  {
    width: 200px;
    border-radius: 50%;
    margin-left: 250px;
  }
}

@media (min-width: 1025px) {
  .profile-pic  {
    width: 240px;
    border-radius: 50%;
    margin-left: 400px;
  }
}
